@layer fonts {
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
}

@layer global {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

@layer colors {
  :root {
    --c-slate900: hsl(218, 44%, 22%);
    --c-slate500: hsl(216, 15%, 48%);
    --c-slate300: hsl(212, 45%, 89%);
    --c-qrcode: hsl(0, 0%, 100%);
    --fc-title: var(--c-slate900);
    --fc-description: var(--c-slate500);
  }
}

.qrcode {
  border: 1px solid;
  border-radius: 20px;
  max-width: 320px;
  padding: 1rem 1rem 2.5rem;
  background-color: var(--c-qrcode);
}

.qrcode__img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
  object-fit: cover;
  margin-block-end: 1.5rem;
}

.qrcode__text {
  text-align: center;
  padding-inline: 1rem;
}

.qrcode__text--title {
  color: var(--fc-title);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 1.2;
  padding-block-end: 1rem;
}

.qrcode__text--description {
  color: var(--fc-description);
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
